{% extends 'index.html' %}
{% block titulo %}
Conductor
{% endblock titulo %}
{% block body %}

<style>
.thead-custom {
    background-color: #bcbcbc; /* Cambia esto al color que prefieras */
    color: black; /* Opcional: cambiar el color del texto */
}
</style>

<div class="card">
    <div class="card-header text-center" style="background-color: #00008B; color: white;">
        <strong>CONSULTA DE CONDUCTOR POR CÉDULA/LICENCIA</strong>
    </div>
    <div class="card-body card-block text-center">
        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="form-group text-center">
                <input type="number" name="Cedula" id="inputConductor" placeholder="Ingrese Cédula/Licencia Conductor" style="width: 290px; font-size: 16px;" maxlength="10" pattern="\d*" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                <input type="submit" value="Buscar" class="btn btn-primary" style="background-color:#d31406">
            </div>
        </form>
        <br>
        {% if not conductor %}
        <p>No existe información</p>
        {% else %}
        <br>
        <table class="table" frame="void" rules="none" align="center" cellspacing="0" cellpadding="0" bordercolor="#ffffff" border="0" style="width: 1000px;">
            <thead class="thead-custom">
                <tr>
                    <th>NÚM. DE CÉDULA/LICENCIA</th>
                    <th>NOMBRES Y APELLIDOS</th>
                    <th>CATEGORIA DE LICENCIA</th>
                    <th>TIPO DE LICENCIA</th>
                </tr>
            </thead>
            <tbody>
                {% for v in conductor %}
                <tr>
                    <td>{{ v.CedulaC }}</td>
                    <td>{{ v.Nombres }} {{ v.Apellidos }}</td>
                    <td>{{ v.CategoriaLicencia }}</td>
                    <td>{{ v.TipoLicencia }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
function validateForm() {
    var cedulaConductor = document.getElementById('inputConductor').value;

    if (!cedulaConductor) {
        alert('Por favor, complete el campo de Cédula/Licencia del Conductor.');
        return false;
    }

    // Asegúrate de que la cédula tenga exactamente 10 números
    if (cedulaConductor.length !== 10) {
        alert('La cédula debe contener exactamente 10 números.');
        return false;
    }

    sessionStorage.setItem('busquedaRealizada', 'true');
    return true;
}

function confirmLogout() {
    if (confirm('¿Estás seguro de cerrar sesión?')) {
        window.location.href = "{% url 'logout' %}";
    } else {
        // Si el usuario cancela, no se realiza ninguna acción
    }
}
</script>

{% if user.groups.all.0.name == "Agenteadmin" %}
{% else %}
<META HTTP-EQUIV="REFRESH" CONTENT="0; https://www.ucotcitaciones.com/admin">
{% endif %}
{% endblock body %}
